html{
    background: #000;
    font-family: 'roboto', sans-serif;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background:rgb(50, 121, 47); 
    max-width: 500px; 
    padding: 20px;
    border-radius: 30px;
}

h1{
    font-size: 32px;
    font-family: 'radiantAntique';
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
p{
    color: #000;
    text-align: center;
}

input[type="number"]{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #999;
    width: 90%;
    margin-bottom: 10px;
}

input[type="number"]:focus{
    border-color: #fff;
}

.conversionWrapper{
    width: 70%;
    margin:0 auto;
}

.convertButton{
    text-align: center;
    margin: 10px auto 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffea00;
    border-color: #000;
}

